<div class="auth-container">
  <div class="auth-card">
    <h2 class="auth-title">Congregação</h2>
    <form (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label for="username">Usuário</label>
        <input type="text" id="username" class="form-control" placeholder="Informe seu usuário">
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" class="form-control" placeholder="Informe sua senha">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Entrar</button>
    </form>
    <a routerLink="/home">Ir para a Home</a>
  </div>
</div>

<div id="g_id_onload"
     data-client_id="945030082167-hsmodrgn43irmhje575det9dui6sle03.apps.googleusercontent.com"
     data-context="use"
     data-ux_mode="popup"
     data-login_uri="http://localhost:4200/home"
     data-auto_select="true"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-locale="pt-BR"
     data-logo_alignment="left">
</div>
