<div class="side-nav hide-for-print" [ngClass]="{'expanded': menuService.isSideNavExpanded$ | async}">
   <ul class="pagina_inicial">
      <li class="class" routerLink="/home">
         <a class="icon" href="#"> <img class="margin-right-05" src="../../../assets/icons/icon_jw-dashboard.svg"
               width="32" height="32">Página
            inicial</a>
      </li>
   </ul>
   <section class="side-nav">
      <h3 id="pessoas" class="side-nav__section submenu" (click)="toggleSubMenu('pessoas')">PESSOAS</h3>
      <ul class="side-nav__items" *ngIf="subMenus.pessoas">
         <li class="side-nav__item"><a class="side-nav__link" href="#">Visão geral</a></li>
         <li class="side-nav__item"><a class="side-nav__link" href="/listar-pessoas">Registro de pessoas</a></li>
         <li class="side-nav__item"><a class="side-nav__link" href="/cadastrar-pessoa">Registrar e atualizar</a></li>
         <li class="side-nav__item"><a class="side-nav__link" href="#">Importar registros</a></li>
      </ul>
      <h3 id="reunioes" class="side-nav__section submenu" (click)="toggleSubMenu('reunioes')">REUNIÕES</h3>
      <ul class="side-nav__items" *ngIf="subMenus.reunioes">
         <li class="side-nav__item"><a class="side-nav__link" href="#">Programação</a></li>
         <li class="side-nav__item"><a class="side-nav__link" href="#">Designações</a></li>
         <li class="side-nav__item"><a class="side-nav__link" href="#">Assistência</a></li>
         <li class="side-nav__item"><a class="side-nav__link" href="#">Quadro de anúncios</a></li>
      </ul>
      <h3 id="territorios" class="side-nav__section submenu">TERRITÓRIOS</h3>
      <h3 id="relatorios" class="side-nav__section submenu">RELATÓRIOS</h3>
   </section>
</div>