.icon {
  font-size: 1.1em;
  cursor: pointer;
  /* Muda o cursor para indicar interatividade */
  text-decoration: none;
  /* Remove a sublinhado dos links */
  cursor: pointer;
  /* Muda o cursor para indicar interatividade */
  color: #2a4970;
}

.icon:hover {
  text-decoration: underline;
  /* Remove a sublinhado dos links */
}

.side-nav {
  min-width: 0px;
  width: 220px;
  min-height: 100%;
  -webkit-transition: min-width 0.3s ease, max-width 0.3s ease;
  transition: min-width 0.3s ease, max-width 0.3s ease;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  padding: 0 0 0 0;
  background-color: #f0f0ef;
  color: #615d5c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 1.5rem;
}

.side-nav__section {
  padding: 10px 25px;
  /* Ajuste o espaçamento conforme necessário */
  background-image: linear-gradient(to top, transparent 50%, #ccc 50%),
    linear-gradient(to bottom, transparent 50%, #ccc 50%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom;
  cursor: pointer;
  /* Muda o cursor para indicar interatividade */
}

.side-nav__section:hover {
  background-color: #e0e0dfc4;
  color: #373433;
  text-decoration: underline;
}

.side-nav__link {
  font-size: .9rem;
  padding-left: 25px;
  text-decoration: none;
  color: #2a4970;
  cursor: pointer;
  /* Muda o cursor para indicar interatividade */
}


.side-nav__item {
  padding: 5px;
}

.side-nav__item:hover {
  background-color: #e0e0dfc4;
  color: #373433;
  border-left: 5px #4171ae solid;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}


nav {
  display: block;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
q,
small,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
figure,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

h3 {
  font-size: 1.2rem;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 15px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

*.dir-ltr {
  direction: ltr;
}

body {
  font-family: WTMannaSans, Arial, "Arial Unicode MS", sans-serif;
}

body {
  font-size: 0.875em;
  color: #373433;
  font-family: WTMannaSans, Arial, "Arial Unicode MS", sans-serif;
  background-color: #e7e6e4;
  line-height: 1.45;
  min-height: 100%;
}

body {
  color: #373433;
  background-color: #f8f8f7;
}

html {
  font-size: 1em;
  -webkit-text-size-adjust: 1em;
  -ms-text-size-adjust: 1em;
  height: 100%;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.expanded {
  width: 0px;
}

.side-content.expanded {
  width: 250px;
}