<div class="layout">
    <input type="checkbox" class="side-nav__is-collapsed" id="side-nav__is-collapsed" checked>
    <label for="side-nav__is-collapsed" class="side-nav__toggle"></label>
    <nav class="side-nav hide-for-print">
        <div class="side-nav__arrow"></div>
        <ul class="margin-0">
            <li class="grid grid--no-bleed">
                <a class="grid grid--cross-center grid--no-bleed grid__item padding-bottom-1 text-normal" href="#"> <img
                        class="margin-right-05" src="../../../../../documentation/icon_jw-dashboard.svg" width="32"
                        height="32">Página inicial</a>
            </li>
        </ul>
        <section class="side-nav__section">
            <header class="side-nav__header-container">
                <h1 class="side-nav__header side-nav__header--has-link"><a class="side-nav__header-link"
                        href="#">PESSOAS</a></h1>
            </header>
        </section>
        <section class="side-nav__section">
            <header class="side-nav__header-container">
                <h1 class="side-nav__header side-nav__header--has-link"><a class="side-nav__header-link"
                        href="#">REUNIÕES</a></h1>
            </header>
        </section>
        <section class="side-nav__section">
            <header class="side-nav__header-container">
                <h1 class="side-nav__header side-nav__header--has-link"><a class="side-nav__header-link"
                        href="#">ATIVIDADES</a></h1>
            </header>
        </section>
        <section class="side-nav__section">
            <header class="side-nav__header-container">
                <h1 class="side-nav__header side-nav__header--has-link"><a class="side-nav__header-link"
                        href="#">TERRITÓRIOS</a></h1>
            </header>
        </section>
        <section class="side-nav__section">
            <header class="side-nav__header-container">
                <h1 class="side-nav__header side-nav__header--has-link"><a class="side-nav__header-link"
                        href="#">PESSOAS</a></h1>
            </header>
        </section>
        <section class="side-nav__section">
            <header class="side-nav__header-container">
                <h1 class="side-nav__header side-nav__header--has-link"><a class="side-nav__header-link"
                        href="#">REUNIÕES</a></h1>
            </header>
        </section>
        <section class="side-nav__section">
            <header class="side-nav__header-container">
                <h1 class="side-nav__header side-nav__header--has-link"><a class="side-nav__header-link"
                        href="#">ATIVIDADES</a></h1>
            </header>
        </section>
        <section class="side-nav__section">
            <header class="side-nav__header-container">
                <h1 class="side-nav__header side-nav__header--has-link"><a class="side-nav__header-link"
                        href="#">TERRITÓRIOS</a></h1>
            </header>
        </section>
        <section class="side-nav__section">
            <header class="side-nav__header-container">
                <h1 class="side-nav__header side-nav__header--has-link"><a class="side-nav__header-link"
                        href="#">PESSOAS</a></h1>
            </header>
        </section>
        <section class="side-nav__section">
            <header class="side-nav__header-container">
                <h1 class="side-nav__header side-nav__header--has-link"><a class="side-nav__header-link"
                        href="#">REUNIÕES</a></h1>
            </header>
        </section>
        <section class="side-nav__section">
            <header class="side-nav__header-container">
                <h1 class="side-nav__header side-nav__header--has-link"><a class="side-nav__header-link"
                        href="#">ATIVIDADES</a></h1>
            </header>
        </section>
        <section class="side-nav__section">
            <header class="side-nav__header-container">
                <h1 class="side-nav__header side-nav__header--has-link"><a class="side-nav__header-link"
                        href="#">TERRITÓRIOS</a></h1>
            </header>
        </section>        <section class="side-nav__section">
            <header class="side-nav__header-container">
                <h1 class="side-nav__header side-nav__header--has-link"><a class="side-nav__header-link"
                        href="#">PESSOAS</a></h1>
            </header>
        </section>
        <section class="side-nav__section">
            <header class="side-nav__header-container">
                <h1 class="side-nav__header side-nav__header--has-link"><a class="side-nav__header-link"
                        href="#">REUNIÕES</a></h1>
            </header>
        </section>
        <section class="side-nav__section">
            <header class="side-nav__header-container">
                <h1 class="side-nav__header side-nav__header--has-link"><a class="side-nav__header-link"
                        href="#">ATIVIDADES</a></h1>
            </header>
        </section>
        <section class="side-nav__section">
            <header class="side-nav__header-container">
                <h1 class="side-nav__header side-nav__header--has-link"><a class="side-nav__header-link"
                        href="#">TERRITÓRIOS</a></h1>
            </header>
        </section>
        <!-- Adicione os outros itens da sidebar aqui -->
    </nav>
</div>