<div class="home">
    <app-navigation></app-navigation>
        <main class="layout__main">
            <section class="page page--large"></section>
            <header class="page__header">
                <h3 class="page__heading page__heading--title">Vila Yara</h3>
            </header>
            <section class="margin-top-2">
                <h2 class="page__heading">Dados</h2>
                <dl class="grid grid--wrap-gutter">
                    <div
                        class="grid__item grid__item--16@small grid__item--5@medium grid__item--4@large-up margin-bottom-0">
                        <div
                            class="data data--statistic data--statistic-cross data--statistic-card card--full-height data--statistic-card-clickable">
                            <div ptrnaction="" class="data__pair ng-star-inserted">
                                <dt class="data__label text-break-word"><a ptrnactiontarget="" class="data__link"
                                        href="">Publicadores</a>
                                </dt>
                                <dd class="data__value">138</dd>
                            </div>
                        </div>
                    </div>
                    <div
                        class="grid__item grid__item--16@small grid__item--5@medium grid__item--4@large-up margin-bottom-0 ng-star-inserted">
                        <div
                            class="data data--statistic data--statistic-cross data--statistic-card card--full-height data--statistic-card-clickable">
                            <div ptrnaction="" class="data__pair ng-star-inserted">
                                <dt class="data__label text-break-word"><a ptrnactiontarget="" class="data__link"
                                        href="">Anciãos</a>
                                </dt>
                                <dd class="data__value">13</dd>
                            </div>
                        </div>
                    </div>
                    <div
                        class="grid__item grid__item--16@small grid__item--5@medium grid__item--4@large-up margin-bottom-0 ng-star-inserted">
                        <div
                            class="data data--statistic data--statistic-cross data--statistic-card card--full-height data--statistic-card-clickable">
                            <div ptrnaction="" class="data__pair ng-star-inserted">
                                <dt class="data__label text-break-word"><a ptrnactiontarget="" class="data__link"
                                        href="">Servos
                                        ministeriais</a></dt>
                                <dd class="data__value">8</dd>
                            </div>
                        </div>
                    </div>
                    <div
                        class="grid__item grid__item--16@small grid__item--5@medium grid__item--4@large-up margin-bottom-0 ng-star-inserted">
                        <div
                            class="data data--statistic data--statistic-cross data--statistic-card card--full-height data--statistic-card-clickable">
                            <div ptrnaction="" class="data__pair ng-star-inserted">
                                <dt class="data__label text-break-word"><a ptrnactiontarget="" class="data__link"
                                        href="">Pioneiros
                                        regulares</a></dt>
                                <dd class="data__value">22</dd>
                            </div>
                        </div>
                    </div>
                </dl>
            </section>
        </main>
</div>