<div class="home">
    <app-navigation>
        <main id="content" class="layout__main">
            <section class="page page--large">
                <section class="margin-top-2">
                    <h2 class="page__heading page__heading--secondary">Dados</h2>
                    <dl class="grid grid--wrap-gutter">
                        <div
                            class="grid__item grid__item--16@small grid__item--5@medium grid__item--4@large-up margin-bottom-0">
                            <div
                                class="data data--statistic data--statistic-cross data--statistic-card card--full-height data--statistic-card-clickable">
                                <div class="data__pair">
                                    <dt class="data__label text-break-word"><a class="data__link" href="">Publicadores</a></dt>
                                    <dd class="data__value">49</dd>
                                </div>
                            </div>
                        </div>
                        <div
                            class="grid__item grid__item--16@small grid__item--5@medium grid__item--4@large-up margin-bottom-0">
                            <div
                                class="data data--statistic data--statistic-cross data--statistic-card card--full-height data--statistic-card-clickable">
                                <div class="data__pair">
                                    <dt class="data__label text-break-word"><a class="data__link" href="">Anciãos</a>
                                    </dt>
                                    <dd class="data__value">17</dd>
                                </div>
                            </div>
                        </div>
                        <div
                            class="grid__item grid__item--16@small grid__item--5@medium grid__item--4@large-up margin-bottom-0">
                            <div
                                class="data data--statistic data--statistic-cross data--statistic-card card--full-height data--statistic-card-clickable">
                                <div class="data__pair">
                                    <dt class="data__label text-break-word"><a class="data__link" href="">Servos ministeriais</a></dt>
                                    <dd class="data__value">9</dd>
                                </div>
                            </div>
                        </div>
                        <div
                            class="grid__item grid__item--16@small grid__item--5@medium grid__item--4@large-up margin-bottom-0">
                            <div
                                class="data data--statistic data--statistic-cross data--statistic-card card--full-height data--statistic-card-clickable">
                                <div class="data__pair">
                                    <dt class="data__label text-break-word"><a class="data__link" href="">Pioneiros regulares</a></dt>
                                    <dd class="data__value">22</dd>
                                </div>
                            </div>
                        </div>
                    </dl>
                </section>
            </section>
        </main>
    </app-navigation>
</div>