<body class="lista-pessoas">
    <app-top-nav></app-top-nav>
    <div class="content">
        <div class="side-content">
            <app-side-nav></app-side-nav>
        </div>
        <div class="main-content">
            <div class="ng-star-inserted">
                <section class="page ng-star-inserted">
                    <header class="page__header">
                        <p class="page__prefix-heading"> Vila Yara - Osasco SP (4663) </p>
                        <h1 class="page__heading page__heading--title">Registros de pessoa</h1>
                    </header>
                    <section>
                        <div cssclass="margin-top-1 margin-bottom-2">
                            <div class="margin-top-1 margin-bottom-2">
                                <form novalidate="" class="form form--edit ng-untouched ng-pristine ng-valid">
                                    <div formcontrolname="name" class="ng-untouched ng-pristine ng-valid">
                                        <div class="field__clearable-input-wrapper"><input enterkeyhint="search"
                                                type="search"
                                                class="field__input field__input--clearable ng-untouched ng-pristine ng-valid"
                                                placeholder="Digite um nome">
                                            <div icon="search" responsivebehavior="iconOnly"
                                                cssclass="field__search-button" tabindex="-1" disabled="false"
                                                class="ng-star-inserted"><button
                                                    class="button button--has-icon@medium-up button--icon-only@small field__search-button ng-star-inserted"
                                                    type="button" aria-haspopup="false">
                                                    <div class="button__icon button__icon--has-label ng-star-inserted">
                                                    </div>
                                                    <div class="button__icon button__icon--no-label ng-star-inserted">
                                                    </div>
                                                    <div class="button__text ng-star-inserted"><span
                                                            class="ng-star-inserted">Pesquisar</span></div>
                                                </button></div>
                                        </div>
                                    </div>
                                </form>
                                <div class="bg-g0 padding-1 margin-top-2">
                                    <div class="padding-left-1 grid buttons"><button type="button"
                                            class="button bg-g0"><span class="p700">Vila Yara</span></button><button
                                            type="button" class="button bg-g0"><span class="p700">Victor
                                                Brecheret</span></button><button type="button"
                                            class="button bg-g0"><span class="p700">Campesina</span></button><a
                                            class="button button--primary button--has-icon" href="">
                                            <div class="button__icon">
                                            </div>
                                            <div>Filtros…</div>
                                        </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="ng-star-inserted">
                            <div class="grid grid--shrink grid--main-between grid--cross-end margin-bottom-05">
                                <div class="grid__item hide@small">
                                </div>
                            </div>
                            <app-card-pessoa></app-card-pessoa>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </div>
</body>