* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

/* Estilo para inputs ao passar o mouse */
input:hover,
select:hover,
textarea:hover {
  border: 1.5px solid #4a6da7 !important; /* Adiciona um estilo de borda com maior espessura e prioridade */
}

/* Estilo para inputs focados, para melhorar o UX */
input:focus,
select:focus,
textarea:focus {
  outline: none !important; /* Remove o outline padrão */
  border: 1.5px solid #4a6da7 !important; /* Deixa a borda azul quando o campo está focado */
}

.layout__main {
  padding: 30px;
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#page-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

fieldset {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

legend {
  font-weight: bold;
  padding: 0 10px;
  font-size: 1.2em;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  flex: 1; /* Faz o item ocupar espaço igual, permitindo uma distribuição fluida */
  min-width: 150px; /* Define um valor mínimo para evitar campos muito pequenos */
  display: flex;
  flex-direction: column;
}
.width5 {
  flex: 1 1 5%;
}

.width6 {
  flex: 1 1 6%;
}

.width7 {
  flex: 1 1 7%;
}

.width8 {
  flex: 1 1 8%;
}

.width9 {
  flex: 1 1 9%;
}

.width10 {
  flex: 1 1 10%;
}

.width11 {
  flex: 1 1 11%;
}

.width12 {
  flex: 1 1 12%;
}

.width13 {
  flex: 1 1 13%;
}

.width14 {
  flex: 1 1 14%;
}

.width15 {
  flex: 1 1 15%;
}

.width16 {
  flex: 1 1 16%;
}

.width17 {
  flex: 1 1 17%;
}

.width20 {
  flex: 1 1 20%;
}

.width21 {
  flex: 1 1 21%;
}

.width22 {
  flex: 1 1 22%;
}

.width23 {
  flex: 1 1 23%;
}

.width24 {
  flex: 1 1 24%;
}

.width25 {
  flex: 1 1 25%;
}

.width30 {
  flex: 1 1 30%;
}

.width40 {
  flex: 1 1 40%;
}

.width50 {
  flex: 1 1 50%;
}

.width60 {
  flex: 1 1 60%;
}

input[type='text'],
input[type='date'],
input[type='email'],
input[type='tel'],
select {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .form-row {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .layout__main {
    padding: 10px;
  }

  fieldset {
    padding: 15px;
  }

  input,
  select {
    padding: 8px;
    font-size: 0.9em;
  }

  label {
    font-size: 0.9em;
  }
}
