<main class="layout__main">
  <div class="container" id="page-content">
    <form action="">
      <fieldset>
        <legend>Nome e contato</legend>
        <div class="form-row">
          <div class="form-group width15">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" [(ngModel)]="form.nome" />
          </div>
          <div class="form-group width8">  
            <label for="genero">Gênero</label>
            <select id="genero" name="genero" [(ngModel)]="form.genero" (change)="onGeneroChange()">
              <option value=""></option>
              <option value="feminino">Feminino</option>
              <option value="masculino">Masculino</option>
            </select>
          </div>
          <div class="form-group width8">
            <label for="dataNascimento">Data de Nascimento</label>
            <input type="date" id="dataNascimento" name="dataNascimento" [(ngModel)]="form.dataNascimento" />
          </div>
          <div class="form-group width8">
            <label for="telefone">Telefone</label>
            <input type="tel" id="telefone" name="telefone" [(ngModel)]="form.telefone" (input)="formatarTelefone()" maxlength="15">
          </div>
          <div class="form-group width15">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="form.email" />
          </div>
        </div>
        
        <legend>Endereço</legend>
        <div class="form-row">
          <div class="form-group width7">
            <label for="cep">CEP</label>
            <input type="text" id="cep" name="cep" [(ngModel)]="form.cep" />
          </div>
          <div class="form-group width20">
            <label for="logradouro">Logradouro</label>
            <input type="text" id="logradouro" name="logradouro" [(ngModel)]="form.logradouro" />
          </div>
          <div class="form-group width7">
            <label for="numero">Número</label>
            <input type="text" id="numero" name="numero" [(ngModel)]="form.numero" />
          </div>
          <div class="form-group width10">
            <label for="complemento">Complemento</label>
            <input type="text" id="complemento" name="complemento" [(ngModel)]="form.complemento" />
          </div>
          <div class="form-group width10">
            <label for="bairro">Bairro</label>
            <input type="text" id="bairro" name="bairro" [(ngModel)]="form.bairro" />
          </div>
          <div class="form-group width10">
            <label for="cidade">Cidade</label>
            <input type="text" id="cidade" name="cidade" [(ngModel)]="form.cidade" />
          </div>
        </div>

        <legend>Espirituais</legend>
        <div class="form-row">
          <div class="form-group width7">
            <label for="batizado">Batizado?</label>
            <select id="batizado" name="batizado" [(ngModel)]="form.batizado" (change)="onBatizadoChange()">
              <option value="0">Não</option>
              <option value="1">Sim</option>
            </select>
          </div>
          <div class="form-group width8" *ngIf="form.batizado">
            <label for="dataBatismo">Data de Batismo</label>
            <input type="date" id="dataBatismo" name="dataBatismo" [(ngModel)]="form.dataBatismo" />
          </div>
          <div class="form-group width10">
            <label for="grupo">Grupo</label>
            <select id="grupo" name="grupo" [(ngModel)]="form.grupo">
              <option value=""></option>
              <option value="servoMinisterial">Servo Ministerial</option>
              <option value="anciao">Ancião</option>
            </select>
          </div>
          <div class="form-group width7" *ngIf="form.batizado">
            <label for="ungido">Ungido?</label>
            <select id="ungido" name="ungido" [(ngModel)]="form.ungido">
              <option value="0">Não</option>
              <option value="1">Sim</option>
            </select>
          </div>
          <div class="form-group width10" *ngIf="form.batizado">
            <label for="pioneiro">Pioneiro</label>
            <select id="pioneiro" name="pioneiro" [(ngModel)]="form.pioneiro">
              <option value=""></option>
              <option value="auxiliar">Auxiliar</option>
              <option value="regular">Regular</option>
              <option value="especial">Especial</option>
            </select>
          </div>
          <div class="form-group width10" *ngIf="form.genero === 'masculino'">
            <label for="privilegio">Privilégio</label>
            <select id="privilegio" name="privilegio" [(ngModel)]="form.privilegio">
              <option value=""></option>
              <option value="servoMinisterial">Servo Ministerial</option>
              <option value="anciao">Ancião</option>
            </select>
          </div>
        </div>

        <legend>Contatos de Emergência</legend>
        <div class="form-row">
          <div class="form-group width20">
            <label for="emergNome">Nome</label>
            <input type="text" id="emergNome" name="emergNome[]" [(ngModel)]="form.emergNome" />
          </div>
          <div class="form-group width10">
            <label for="emergParentesco">Parentesco</label>
            <input type="text" id="emergParentesco" name="emergParentesco[]" [(ngModel)]="form.emergParentesco" />
          </div>
          <div class="form-group width10">
            <label for="emergTelefone">Telefone</label>
            <input type="text" id="emergTelefone" name="emergTelefone[]" [(ngModel)]="form.emergTelefone" />
          </div>
          <div class="form-group width10">
            <label for="emergEmail">Email</label>
            <input type="email" id="emergEmail" name="emergEmail[]" [(ngModel)]="form.emergEmail" />
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</main>
