* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

.layout__main {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#page-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

fieldset {
  border: 1px solid #cccccc;
  padding: 20px;
  border-radius: 3px;
}

legend {
  font-weight: bold;
  padding: 0 10px;
  padding-left: 0;
  font-size: 1.5em;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* Espaçamento entre os elementos */
  margin-bottom: 20px;
}

.form-group {
  min-width: 100px;
  /* Define o valor mínimo para garantir campos menores não se deformem */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


/* Classes de largura personalizadas */
.width5 {
  flex: 1 1 5%;
}

.width6 {
  flex: 1 1 6%;
}

.width7 {
  flex: 1 1 7%;
}

.width8 {
  flex: 1 1 8%;
}

.width9 {
  flex: 1 1 9%;
}

.width10 {
  flex: 1 1 10%;
}

.width11 {
  flex: 1 1 11%;
}

.width12 {
  flex: 1 1 12%;
}

.width130 {
  flex: 1 1 13%;
}

.width14 {
  flex: 1 1 14%;
}


.width15 {
  flex: 1 1 15%;
}

.width20 {
  flex: 1 1 20%;
}

.width25 {
  flex: 1 1 25%;
}

.width30 {
  flex: 1 1 30%;
}

.width40 {
  flex: 1 1 40%;
}

.width50 {
  flex: 1 1 50%;
}

label {
  font-weight: normal;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .form-row {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .layout__main {
    padding: 10px;
  }

  fieldset {
    padding: 15px;
  }

  label {
    font-size: 0.9em;
  }
}