<body>
  <app-navigation>
    <main tabindex="-1" id="content" class="layout__main">
        <section class="page">
          <header class="page__header">
            <h1 class="page__heading page__heading--title">Lista de pessoas</h1>
          </header>
          <section>
            <aside></aside>
            <div class="margin-top-1 margin-bottom-2">
              <form class="form form--edit ng-untouched ng-pristine ng-valid">
                <div class="field__clearable-input-wrapper">
                  <input type="search" class="field__input field__input--clearable ng-pristine ng-valid ng-touched"
                    placeholder="">
                  <button class="button button--has-icon@medium-up button--icon-only@small field__search-button "
                    type="button" aria-haspopup="false">
                    <div class="button__icon button__icon--has-label ">
                      <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="icon__body"
                          height="18" width="18">
                          <g>
                            <path
                              d="M12.7,11.3c0.9-1.2,1.4-2.6,1.4-4.2C14.1,3.2,11,0,7.1,0S0,3.2,0,7.1c0,3.9,3.2,7.1,7.1,7.1 c1.6,0,3.1-0.5,4.2-1.4l3,3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L12.7,11.3z M7.1,12.1 C4.3,12.1,2,9.9,2,7.1S4.3,2,7.1,2s5.1,2.3,5.1,5.1S9.9,12.1,7.1,12.1z">
                            </path>
                          </g>
                        </svg>
                      </span>
                    </div>
                    <div class="button__icon button__icon--no-label ">
                      <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon__body" height="24"
                          width="24">
                          <g>
                            <path
                              d="M23.061,20.939l-5.733-5.733a9.028,9.028,0,1,0-2.122,2.122l5.733,5.733ZM3,10a7,7,0,1,1,7,7A7.008,7.008,0,0,1,3,10Z">
                            </path>
                          </g>
                        </svg>
                      </span>
                    </div>
                    <div class="button__text">
                      <span class="">Pesquisar
                      </span>
                    </div>
                  </button>
                </div>
              </form>
              <div class="bg-g0 bg-g100@dark padding-left-1 margin-top-2">
                <div class="padding-left-1 buttons">
                  <details class="pills__details" open="">
                    <summary class="pills__summary margin-bottom-05"><span>Filtrar</span>
                      <span class="padding-left-05">
                        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            class="icon__body" height="16" width="16">
                            <g>
                              <path
                                d="M12,17c-0.207,0-0.413-0.063-0.588-0.191l-11-8l1.177-1.617L12,14.764l10.412-7.572l1.177,1.617l-11,8 C12.413,16.937,12.207,17,12,17z">
                              </path>
                            </g>
                          </svg>
                        </span>
                      </span>
                    </summary>
                    <div class="grid grid--shrink grid--cross-center margin-top-05">
                      <div class="grid grid__item">
                        <p class="text-normal">Filtros ativos: 2</p>
                      </div>
                      <div class="grid grid__item ng-star-inserted">
                        <button type="button" class="pills__clear-button">
                          <span>Limpar tudo</span>
                        </button>
                      </div>
                    </div>
                    <ul class="pills-list list">
                      <li class="pills-list__item list__item list__item--inline ">
                        <div>
                          <span class="pill pill--default ">
                            <span class="pill__text ">
                              <span class="">Ancião</span>
                            </span>
                          </span>
                          <span class="pill pill--default ">
                            <span class="pill__text ">
                              <span class="">Servo ministerial</span>
                            </span>
                          </span>
                          <span class="pill pill--default ">
                            <span class="pill__text ">
                              <span class="">Publicador batizado</span>
                            </span>
                          </span>
                          <span class="pill pill--default ">
                            <span class="pill__text ">
                              <span class="">Publicador não batizado</span>
                            </span>
                          </span>
                          <span class="pill pill--default ">
                            <span class="pill__text ">
                              <span class="">Pioneiro regular</span>
                            </span>
                          </span>
                          <span class="pill pill--default ">
                            <span class="pill__text ">
                              <span class="">Campesina</span>
                            </span>
                          </span>
                          <span class="pill pill--default ">
                            <span class="pill__text ">
                              <span class="">Filipini</span>
                            </span>
                          </span>
                          <span class="pill pill--default ">
                            <span class="pill__text ">
                              <span class="">Guadalupe</span>
                            </span>
                          </span>
                          <span class="pill pill--default ">
                            <span class="pill__text ">
                              <span class="">Salão do reino</span>
                            </span>
                          </span>
                          <span class="pill pill--default ">
                            <span class="pill__text ">
                              <span class="">Santina da Costa</span>
                            </span>
                          </span>
                          <span class="pill pill--default ">
                            <span class="pill__text ">
                              <span class="">Victor Brecheret</span>
                            </span>
                          </span>
                          <span class="pill pill--default ">
                            <span class="pill__text ">
                              <span class="">Vila Yara</span>
                            </span>
                          </span>
                          <span class="pill pill--default ">
                            <span class="pill__text ">
                              <span class="">Umuarama</span>
                            </span>
                          </span>
                        </div>
                      </li>
                    </ul>
                  </details>
                </div>
              </div>
            </div>
            <div>
              <div class="grid grid--shrink grid--main-between grid--cross-end margin-bottom-05">
                <div class="grid__item margin-bottom-05 g800">Resultados: 33 </div>
                <div class="grid__item hide@small">
                  <div class="buttons buttons--actions">
                    <button class="button button--has-icon button--action " type="button" (click)="mostrarTudo()">
                      <div class="button__icon button__icon--has-label ">
                        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            class="icon__body" height="18" width="18">
                            <g>
                              <path
                                d="M24,12c0-6.617-5.383-12-12-12S0,5.383,0,12s5.383,12,12,12S24,18.617,24,12z M6.586,10L8,8.586l4,4l4-4 L17.414,10L12,15.414L6.586,10z">
                              </path>
                            </g>
                          </svg></span>
                      </div>
                      <div class="button__text ">Mostrar tudo</div>

                    </button><button class="button button--has-icon button--action " type="button"
                      (click)="ocultarTudo()">
                      <div class="button__icon button__icon--has-label ">
                        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            class="icon__body" height="18" width="18">
                            <g>
                              <path
                                d="M0,12c0,6.617,5.383,12,12,12s12-5.383,12-12S18.617,0,12,0S0,5.383,0,12z M17.414,14L16,15.414l-4-4l-4,4 L6.586,14L12,8.586L17.414,14z">
                              </path>
                            </g>
                          </svg></span>
                      </div>
                      <div class="button__text ">Ocultar tudo</div>
                    </button>
                  </div>
                </div>
              </div>
              <section>
                <header class="">
                  <h2 class="smart-heading sr-only "><span class="">Resultados: 33</span></h2>
                </header>
                <div>
                  <ul id="cards-list" class="list">
                    <li class="list__item ">
                      <article class="card card--collapsed" id="">
                        <div data-testid="ptrn-card-header" class="card__header-wrapper card__collapsible-header ">
                          <div class="grid grid--nowrap">
                            <div class="grid__item">
                              <div class="">
                                <div class="grid__item ">
                                  <header class="card__header">
                                    <h3 class="text-weight-normal margin-bottom-05 card__header-text"
                                      id="ptrn-card-header-4">
                                      <div class="person-name">
                                        <span class="">Arthur
                                          Alves Senna
                                          Neto</span>
                                      </div>
                                    </h3>
                                  </header>
                                </div>
                              </div>
                            </div>
                            <div
                              class="grid__item grid__item--shrink grid__item--cross-start grid__item--collapse margin-right-1 ">
                              <button type="button" class="card__collapse-button card__collapse-button--collapsed"
                                aria-label="Exibir detalhes" aria-expanded="false"><svg
                                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon__body" height="16"
                                  width="16">
                                  <g>
                                    <path
                                      d="M12,17c-0.207,0-0.413-0.063-0.588-0.191l-11-8l1.177-1.617L12,14.764l10.412-7.572l1.177,1.617l-11,8 C12.413,16.937,12.207,17,12,17z">
                                    </path>
                                  </g>
                                </svg></button>
                            </div>
                          </div>
                        </div>
                        <div data-testid="ptrn-card-content" class="card__auxiliary-content-wrapper margin-top-05"
                          id="ptrn-card-content-4" style="display: none;">
                          <div class="card__auxiliary-content-spacer " style="width: 80px">
                          </div>
                          <div class="card__auxiliary-content">
                            <ul class="badges list list--inline margin-bottom-1@small">
                              <li class="list__item "><span class="badge text-break-word@small badge--default "><span
                                    class="">Servo
                                    ministerial</span></span>
                              </li>
                              <li class="list__item "><span class="badge text-break-word@small badge--default "><span
                                    class="">Pioneiro</span></span>
                              </li>
                            </ul>
                            <div class="grid grid--main-start grid--cross-baseline">
                              <div class="fieldset-container">
                                <fieldset class="data__fieldset">
                                  <div class="grid--cross-start">
                                    <div class="data__pair">
                                      <dt class="data__label">Grupo</dt>
                                      <dd class="data__value">Victor Brecheret</dd>
                                    </div>
                                    <div class="data__pair">
                                      <dt class="data__label">Anos de Batismo</dt>
                                      <dd class="data__value">19,8</dd>
                                    </div>
                                    <div class="data__pair">
                                      <dt class="data__label">Data de Batismo</dt>
                                      <dd class="data__value">27/09/2005</dd>
                                    </div>
                                    <div class="data__pair">
                                      <dt class="data__label">Ungido</dt>
                                      <dd class="data__value">Não</dd>
                                    </div>
                                    <div class="data__pair">
                                      <dt class="data__label">Responsabilidades</dt>
                                      <dd class="data__value">Servo de territórios</dd>
                                      <dd class="data__value">Comissão de manutenção</dd>
                                    </div>
                                  </div>
                                </fieldset>

                                <!-- Segunda linha: Dados Pessoais -->
                                <fieldset class="data__fieldset">
                                  <div class="grid--cross-start">
                                    <div class="data__pair">
                                      <dt class="data__label">Idade</dt>
                                      <dd class="data__value">32,2</dd>
                                    </div>
                                    <div class="data__pair">
                                      <dt class="data__label">Data de Nascimento</dt>
                                      <dd class="data__value">16/04/1992</dd>
                                    </div>
                                    <div class="data__pair">
                                      <dt class="data__label">Telefone</dt>
                                      <dd class="data__value">(11) 97540-6410</dd>
                                    </div>
                                    <div class="data__pair">
                                      <dt class="data__label">Email</dt>
                                      <dd class="data__value">arthur.sennagmail.com</dd>
                                    </div>
                                    <div class="data__pair">
                                      <dt class="data__label">Endereço</dt>
                                      <dd class="data__value">
                                        <a href=""><span>Avenida Manoel Pedro Pimentel, 215, Osasco, SP</span></a>
                                      </dd>
                                    </div>
                                  </div>
                                </fieldset>

                                <!-- Quarta linha: Contato de Emergência -->
                                <fieldset class="data__fieldset">
                                  <div class="grid--cross-start">
                                    <div class="data__pair">
                                      <dt class="data__label">Nome - Contato de emergência</dt>
                                      <dd class="data__value">Jackson Peargentille - Sogro</dd>
                                    </div>
                                    <div class="data__pair">
                                      <dt class="data__label">Telefone - contato de emergência</dt>
                                      <dd class="data__value">(11) 97540-6410</dd>
                                    </div>
                                    <div class="data__pair">
                                      <dt class="data__label">Email - contato de emergência</dt>
                                      <dd class="data__value">jackson.peargentillegmail.com</dd>
                                    </div>
                                  </div>
                                </fieldset>
                                <div class="grid__item grid__item--shrink">
                                  <div
                                    class="data data--statistic data--statistic-cross data--statistic-card data--statistic-card-clickable">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="margin-bottom-1 ">
                            <a class="button button--has-icon button--action margin-top-2 " href="">
                              <div class="button__icon button__icon--has-label ">
                                <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                    width="18" height="18" class="icon__body">
                                    <g transform="translate(0, 0)">
                                      <path
                                        d="M12.7,11.3c0.9-1.2,1.4-2.6,1.4-4.2C14.1,3.2,11,0,7.1,0S0,3.2,0,7.1c0,3.9,3.2,7.1,7.1,7.1 c1.6,0,3.1-0.5,4.2-1.4l3,3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L12.7,11.3z M7.1,12.1 C4.3,12.1,2,9.9,2,7.1S4.3,2,7.1,2s5.1,2.3,5.1,5.1S9.9,12.1,7.1,12.1z">
                                      </path>
                                      <polygon points="8,4 6,4 6,6 4,6 4,8 6,8 6,10 8,10 8,8 10,8 10,6 8,6 ">
                                      </polygon>
                                    </g>
                                  </svg></span>
                              </div>
                              <div class="button__text ">Visualizar mais</div>
                            </a>
                          </div>
                        </div>
                      </article>
                    </li>
                  </ul>
                </div>
              </section>
            </div>
          </section>
        </section>
    </main>
  </app-navigation>
</body>