.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Certifique-se de que o z-index seja menor que o z-index do seu conteúdo principal */
}

  
  .modal {
    background: rgb(45, 127, 208);
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-title {
    margin: 0;
  }
  
  .close {
    cursor: pointer;
  }
  
  .modal-body {
    margin-bottom: 20px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
  }
  
  .btn {
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
  }
  
  .btn-secondary {
    background: #ccc;
  }
  
  .btn-primary {
    background: #007bff;
    color: #fff;
  }
  