/* Estilos para a navbar */
.top-nav {
  flex: none;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 48px;
  background-color: #3a3f85;
  color: #f0f0ef;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
