<div>
    <ul class="list">
        <div class="">
            <div>
                <li class="list__item">
                    <article class="card card--collapsed">
                        <div class="card__header-wrapper card__collapsible-header" style="background-color: aliceblue;">
                            <div class="grid grid--nowrap">
                                <div class="grid__item">
                                    <div class="grid">
                                        <div class="grid__item">
                                            <header class="card__header">
                                                <div>
                                                    <h3 class="text-weight-normal margin-bottom-05 card__header-text">
                                                        <div class="person-name">
                                                            <div class="highlight__wrapper">
                                                                <span class="">Bruna
                                                                    de Carvalho
                                                                    Aquino</span>
                                                            </div>
                                                            <div hidden="true" class="">
                                                                <span class="">Bruna
                                                                    de Carvalho
                                                                    Aquino</span>
                                                            </div>
                                                        </div>
                                                    </h3>
                                                </div>
                                            </header>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card__auxiliary-content-wrapper" id="auxiliary-content">
                            <div class="card__auxiliary-content-spacer" style="width: 94px"></div>
                            <div class="card__auxiliary-content">
                                <div class="">
                                    <div class="grid grid--main-start grid--cross-baseline">
                                        <div style="padding-left: 30px;"   class="grid__item grid__item--16 grid__item--11@medium-up">
                                            <dl class="data data--inline data--one-column data--two-column@medium-up">
                                                <div class="data__pair">
                                                    <dt class="data__label">
                                                        Idade</dt>
                                                    <dd class="data__value">
                                                        35,1</dd>
                                                </div>
                                                <div class="data__pair">
                                                    <dt class="data__label">
                                                        Data de batismo
                                                    </dt>
                                                    <dd class="data__value">
                                                        09/12/2006 (16,6 anos)</dd>
                                                </div>
                                            </dl>
                                        </div>
                                        <div class="grid__item grid__item--shrink">
                                            <div
                                                class="data data--statistic data--statistic-cross data--statistic-card">
                                                <div class="data__pair bg-g0">
                                                    <dt class="data__label">
                                                        Privilégios</dt>
                                                    <div class="data__value">
                                                        <dd class="">
                                                            Pioneiro regular</dd>
                                                            <dd>Carrinho</dd>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid__item grid__item--shrink">
                                            <div
                                                class="data data--statistic data--statistic-cross data--statistic-card">
                                                <div ptrnaction="" class="data__pair bg-g0">
                                                    <dt class="">
                                                        Contato</dt>
                                                    <dd class="data__value">(11) 96489-2212</dd>
                                                    <dt class="">
                                                        Endereço
                                                    </dt>
                                                    <dd class="data__value">Av. Antonio de Souza Noschese, 1675 - Bloco 3 APT 104, Parque Continental, Sao Paulo, SP</dd>
                                                    <dt class="">
                                                        Contato de emergência</dt>
                                                    <dd class="data__value">Ana Cristina (mãe) - (11) 94261-1670</dd>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card card--collapsed">
                        <div class="card__header-wrapper card__collapsible-header" style="background-color: aliceblue;">
                            <div class="grid grid--nowrap">
                                <div class="grid__item">
                                    <div class="grid">
                                        <div class="grid__item">
                                            <header class="card__header">
                                                <div>
                                                    <h3 class="text-weight-normal margin-bottom-05 card__header-text">
                                                        <div class="person-name">
                                                            <div class="highlight__wrapper">
                                                                <span class="">Tápuronde????</span>
                                                            </div>
                                                            <div hidden="true" class="">
                                                                <span class="">Bruna
                                                                    de Carvalho
                                                                    Aquino</span>
                                                            </div>
                                                        </div>
                                                    </h3>
                                                </div>
                                            </header>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card__auxiliary-content-wrapper" id="auxiliary-content">
                            <div class="card__auxiliary-content-spacer" style="width: 94px"></div>
                            <div class="card__auxiliary-content">
                                <div class="">
                                    <div class="grid grid--main-start grid--cross-baseline">
                                        <div style="padding-left: 30px;"   class="grid__item grid__item--16 grid__item--11@medium-up">
                                            <dl class="data data--inline data--one-column data--two-column@medium-up">
                                                <div class="data__pair">
                                                    <dt class="data__label">
                                                        Idade</dt>
                                                    <dd class="data__value">
                                                        35,1</dd>
                                                </div>
                                                <div class="data__pair">
                                                    <dt class="data__label">
                                                        Data de batismo
                                                    </dt>
                                                    <dd class="data__value">
                                                        09/12/2006 (16,6 anos)</dd>
                                                </div>
                                            </dl>
                                        </div>
                                        <div class="grid__item grid__item--shrink">
                                            <div
                                                class="data data--statistic data--statistic-cross data--statistic-card">
                                                <div class="data__pair bg-g0">
                                                    <dt class="data__label">
                                                        Privilégios</dt>
                                                    <div class="data__value">
                                                        <dd class="">
                                                            Pioneiro regular</dd>
                                                            <dd>Carrinho</dd>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid__item grid__item--shrink">
                                            <div
                                                class="data data--statistic data--statistic-cross data--statistic-card">
                                                <div ptrnaction="" class="data__pair bg-g0">
                                                    <dt class="">
                                                        Contato</dt>
                                                    <dd class="data__value">(11) 96489-2212</dd>
                                                    <dt class="">
                                                        Endereço
                                                    </dt>
                                                    <dd class="data__value">Av. Antonio de Souza Noschese, 1675 - Bloco 3 APT 104, Parque Continental, Sao Paulo, SP</dd>
                                                    <dt class="">
                                                        Contato de emergência</dt>
                                                    <dd class="data__value">Ana Cristina (mãe) - (11) 94261-1670</dd>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
            </div>
        </div>
    </ul>
</div>