form {
  width: 100%;
  max-width: 100%; // Defina um limite para evitar que o formulário ocupe todo o espaço, especialmente em telas grandes
  margin: auto; // Centraliza o formulário dentro do espaço de conteúdo
  padding: 20px;
  background-color: #fff; // Estilo visual para melhorar a aparência
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 100%;
}

app-form-cadastro {
  padding-left: 5%;
  padding-top: 2%;
}