<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar and Sidebar Example</title>
</head>

<body>
  <br><br><br>
  <main class="content">
    <div class="container">
      <div class="menu">
          <div class="menu-group">
              <h2 class="menu-heading">PESSOAS</h2>
              <ul class="menu-list">
                  <li><a href="#">Pessoas da Congregação</a></li>
                  <li><a href="#">Grupos de Saída de Campo</a></li>
                  <li><a href="#">Informações da Congregação</a></li>
                  <li><a href="#">Verificar Pendências</a></li>
                  <li><a href="#">Exportar Dados</a></li>
              </ul>
          </div>
          <div class="menu-group">
              <h2 class="menu-heading">REUNIÕES</h2>
              <ul class="menu-list">
                  <li><a href="#">Programação das Reuniões</a></li>
                  <li><a href="#">Designações de Privilégios</a></li>
                  <li><a href="#">Designações Vida e Ministério</a></li>
                  <li><a href="#">Assistência às Reuniões</a></li>
              </ul>
          </div>
          <div class="menu-group">
              <h2 class="menu-heading">PREGAÇÃO</h2>
              <ul class="menu-list">
                  <li><a href="#">Registrar Relatório</a></li>
                  <li><a href="#">Análise das Atividades</a></li>
              </ul>
          </div>
          <div class="menu-group">
              <h2 class="menu-heading">TERRITÓRIOS</h2>
              <ul class="menu-list">
                  <li><a href="#">Lista de Mapas</a></li>
                  <li><a href="#">Territórios Designados</a></li>
                  <li><a href="#">Campanhas Especiais</a></li>
              </ul>
          </div>
      </div>
  </div>
  </main>
</body>

</html>